:root {
  --primery-text-color: #ffffff;
  --title-text-color: #212121;
  --text-about-color: #757575;
  --link-color: #2196f3;
  --line-background: #2f303a;
  --button-color: #f5f4fa;
  --main-background-color: #e5e5e5;
  --team-background-color: #f5f4fa;

  /* pic  */

  --indent: 30px;
  --items: 3;

  /* hover shadow  */
  --shadow: cubic-bezier(0.4, 0, 0.2, 1);

  /* index  */
  --index-backdrop: 1000;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main {
  background-color: var(--primery-text-color);
}

/* top  */

.head-box {
  display: block;
  position: absolute;
  width: 1600px;
  height: 0px;
  left: 0px;
  top: 80px;

  border: 1px solid #ececec;
}

.top-logo {
  display: block;
  margin-right: 97px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--link-color);
  font-family: "Raleway";
  text-decoration: none;
}
.top-logo:hover,
.top-logo:focus {
  color: var(--link-color);
}

.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: var(--primery-text-color);
}

.button {
  cursor: pointer;
}

/* header  */

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 65px;
  padding: 32px 0;
}

.top-list {
  margin-right: auto;
  align-items: center;
  display: flex;
}

.top {
  background-color: var(--primery-text-color);
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  /* padding: 32px 0; */
}

.list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  list-style-type: none;
  display: block;
}
.list-link:visited {
  color: var(--title-text-color);
}

.link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.list-link.current {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--link-color);
  display: block;
}

.list-link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 4px;
  margin-bottom: -1px;
  border-radius: 2px;
  background-color: var(--link-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link.current::after,
.list-link:hover::after,
.list-link:focus::after {
  opacity: 1;
}

.link.current,
.link:hover,
.link:focus {
  color: var(--link-color);
}

.icon-tel {
  fill: var(--text-about-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link:hover .icon-tel,
.tel-link:focus .icon-tel {
  fill: var(--link-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* tel-list  */

.header-list {
  display: flex;
  align-items: center;
}

.tel-list {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 32px 0;
}

.tel-names {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tel-link {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-about-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* overlay */

.overlay {
  max-width: 1600px;
  height: 636px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);
}

/* hero  */

.hero {
  background-color: var(--line-background);
  margin-top: 0;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  padding: 200px 0;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  line-height: calc(60 / 44);
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
  background: var(--link-color);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  border-radius: 4px;
  background-color: #188ce8;
}

.hero-btn:focus {
  /* color: var(--link-color); */
  color: var(--primery-text-color);
  background: var(--link-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* about  */

.section {
  padding-top: 94px;
}

.about-list {
  display: flex;
  list-style: none;
  gap: 30px;
}

.about-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

/* sector-icon */

.icons-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--team-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-about-color);
}

.content {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}

.content-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.content-about {
  display: flex;
  position: relative;
}

.content-about-text {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);

  color: #ffffff;
}

.content-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

/* about team  */

.team-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.team {
  background-color: var(--button-color);
  margin: 0;
  padding-bottom: 94px;
}

.team-box {
  background-color: #fff;
  border: 1px solid #ececec;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-about {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.team-line {
  padding: 30px 0;
}

/* svg  */

.social-media {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 10px;
  margin-top: 16px;
}

.social-icons {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: var(--primery-text-color);
  background-color: var(--link-color);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-names {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-about-color);
}

/* our-customers */

.our-customers {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.customers {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 30px;
  margin-bottom: 94px;
}

.customers-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-name:hover,
.customers-name:focus {
  color: var(--link-color);
  border: 1px solid var(--link-color);
}

.customers-logo {
  fill: currentColor;
}

/* footer  */

.feet {
  display: flex;
  align-items: baseline;
  
}

.feet-logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--link-color);
  text-decoration: none;
  margin-bottom: 20px;
}

.address-box {
  font-style: normal;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 0;
  padding: 0;
  font-style: normal;
}

.address {
  background-color: var(--line-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-location {
  font-family: "Roboto", sans-serif;
  width: 231px;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primery-text-color);
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-location:hover,
.address-location:focus {
  color: var(--link-color);
}

.find-us-on {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
  margin-top: 20px;
}

.find-us-link:hover,
.find-us-link:focus {
  background-color: var(--link-color);
}

.find-us {
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-right: 93px;
}

.find-us-icons {
  fill: var(--primery-text-color);
}

.find-name {
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #ffffff;
}

.find-us-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio  */

/* buttons */

.projects {
  padding: 94px 0;
}

.btn {
  font-family: "roboto", sans-serif;
}

.btn-list {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.btn-project {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 26px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
  background: var(--button-color);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-project:hover,
.btn-project:focus {
  color: var(--primery-text-color);
  background: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.box-link:hover,
.box-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* projects  */

.btn-container {
  display: flex;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.titles-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  --indent: 30px;
  --items: 3;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.box-link {
  display: block;
  text-decoration: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-box:hover,
.title-box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title-box {
  background-color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.titles-name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.title-about {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-about-color);
}

.box-list {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.thumb {
  position: relative;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.box-link:hover .box-thumb {
  transform: translateY(0);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-text {
  position: absolute;
  font-family: "Roboto";
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: #ffffff;
}

/* modal window  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--index-backdrop);
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon:hover,
.close-btn-icon:focus,
.close-btn:hover,
.close-btn:focus {
  fill: var(--link-color);
  color: var(--link-color);
}

.modal-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 2px;

  color: #212121;
}

.form-group {
  position: relative;
  margin-top: 10px;
}

.type-text {
  width: 448px;
  height: 40px;
  padding: 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* margin-top: 4px; */
}

.type-box-text {
  width: 448px;
  height: 120px;
  /* margin-top: 4px; */
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding: 12px 16px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  display: inline-block;
  transform: translateY(50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon:focus {
  fill: var(--link-color);
}

.form-field{
  position: relative;
}

.form-message {
  display: block;
}

.form-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.01em;

  color: #757575;
}

.type-text:focus {
  border-color: var(--link-color);
}

.type-box-text:focus {
  border-color: var(--link-color);
}

.type-text:focus-visible {
  outline: none;
}

.type-box-text:focus-visible {
  outline: none;
}


.form-checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
}

.form-field-cheackbox {
  align-items: center;
  justify-content: center;
display: flex;
  
}

.form-cheackbox-box{
  margin-top: 20px;
  margin-bottom: 15px;
}


.form-agreement-text {
  user-select: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  align-items: center;

  color: #757575;
}

.form-agreement-link {
  color: var(--link-color);
}

.form-field:focus-within > .form-icon {
  border-color: var(--link-color);
  fill: var(--link-color);
}

.form-checkbox {
  position: absolute;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 4px;
}

.form-agreement-link {
  text-decoration: underline;
}

.form-checkbox-icon .uncheked {
  opacity: 1;
}

.form-checkbox:checked + .form-checkbox-icon .uncheked {
  opacity: 0;
}

.form-checkbox-icon .cheked {
  opacity: 0;
}

.form-checkbox:checked + .form-checkbox-icon .cheked {
  opacity: 1;
}

.form-btn {
  display: block;
  font-family: "Roboto";
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  padding: 0;
  margin: 0 auto;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:focus {
  color: var(--primery-text-color);
  background: var(--link-color);
}

.form-btn:hover {
  background-color: #188ce8;
}

/* footer suscribe */

.footer-form-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.footer-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-field {
  display: flex;
}

.footer-input {
  display: flex;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  margin-right: 12px;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
padding: 15px 16px;
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-btn {
  display: flex;justify-content: center;
  background-color: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  padding: 10px 28px;
  margin: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-btn:focus {
  color: var(--primery-text-color);
  background: var(--link-color);
}
.footer-btn:hover {
  background-color: #188ce8;
}

.foo-icon {
  margin-left: 30px;
  width: 24px;
  height: 24px;
}

.footer-form-submit {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--primery-text-color);
}

.footer-btn:focus {
  color: var(--primery-text-color);
  background: var(--link-color);
}

.footer-btn:hover {
  background-color: #188ce8;
}
